{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block body %}
<div class="container">
	<div class="container">
		<img src="{{ current_user.avatar(120) }}" style="display: block; margin: auto;">
		<br>
		<h1 style="text-align: center;"><span class="text-warning"> {{ current_user.username }} </span></h1>
    <h1 style="text-align: center;"><span class="text-info"> Activity </span></h1>
    <table class="table table-striped table-hover table-bordered">
      <br />
       <thead>
    <tr class="success">
      <th style="text-align: center;">Activity</th>
      <th style="text-align: center;">Quantity</th>
    </tr>
  </thead>
      <tbody>
        <tr class="active">
          <td style="text-align: center;">Questions asked</td>
          <td style="text-align: center;">{{ current_user.questions.all()|length }}</td>
        </tr>
        <tr class="active">
          <td style="text-align: center;">Questions answered</td>
          <td style="text-align: center;">{{ current_user.answers.all()|length }}</td>
        </tr>
        <tr class="active">
          <td style="text-align: center;">Upvotes</td>
          <td style="text-align: center;">{{ current_user.upvotes.all()|length }}</td>
        </tr>
        <tr class="active">
          <td style="text-align: center;">Downvotes</td>
          <td style="text-align: center;">{{ current_user.downvotes.all()|length }}</td>
        </tr>
      </tbody>
    </table> 
      </div>
      <br>
      <div class="col-md-12 text-center">
       <ul class="nav nav-pills">
        <li class="active"><a href="{{ url_for('mod_user.dashboard') }}">My Questions</a></li>
        <li><a href="{{ url_for('mod_user.myAnswers') }}">My Answers</a></li>
        <li><a href="{{ url_for('mod_question.addQuestion') }}">Ask A Question</a></li>
      </ul>
    </div>
    <div class="col-md-12 text-center">
      {% for question in questions.items %}
      {% include 'mod_question/questionLink.html' %}
      {% endfor %}
    </div>
    <ul class="pager">
      {% if questions.has_prev %}<li><a href="{{ url_for('mod_user.dashboard', page=questions.prev_num) }}">Previous</a></li>{% else %}<li>Previous</li>{% endif %}  
      {% if questions.has_next %}<li><a href="{{ url_for('mod_user.dashboard', page=questions.next_num) }}">Next</a></li>{% else %}<li>Next</li>{% endif %}
    </ul>    

  </div>
  {% endblock %}
